<ol>
  <% @players.each do |player| %>
    <li><%=player.elo.name%></li>
  <%end %>
</ol>

<%= form_tag(url_for(action: 'create', controller: 'frames'), method: "POST") do %>
  <span>New result:</span>
  <fieldset>
    <label for="winner">Winner</label>
    <input type="text" name="winner" list="player-suggestions">
    <input type="radio" id="breaker" name="breaker" value="winner">
    <label for="breaker">Breaker</label>
  </fieldset>
  <fieldset>
    <label for="loser">Loser</label>
    <input type="text" name="loser" list="player-suggestions">
    <input type="radio" id="breaker" name="breaker" value="loser">
    <label for="breaker">Breaker</label>
  </fieldset>
  <input type="submit">
<% end %>

<datalist id="player-suggestions">
  <% @players.each do |player| %>
    <option value="<%=player.name%>">
  <%end %>
</datalist>
